<% if @thing %>
	<h1><%= @thing.name %> <small><%= @thing.id %></small></h1>
	<strong>Kind:</strong> <%= @thing.kind %> &bull; <strong>Owner:</strong> <%= @thing.owner.name %> &bull; <strong>Location:</strong> <%= @thing.location.name if @thing.location %><%= 'none' unless @thing.location %> &bull; <strong>Created:</strong> <%= @thing.created_at %>
	<br/>
	<strong>Description:</strong>
	<div class="inline-form">
		<textarea class="form-control" id="description" rows="5"><%= @thing.description %></textarea>
		<button class="pull-right btn btn-primary" id="save-description">Save</button>
	</div>
<br/>

<% if @thing.codes.size > 0 %>

	<h3>Attributes</h3>
	<% for att in @thing.atts %>
		<div class="inline-form attribute-field" data-name="<%= att.name %>">
			<strong><%= att.name %></strong>
			<input type="text" class="form-control" value="<%= att.value %>"/>
			<button class="btn btn-primary">Save</button>
		</div>
		<br/>
	<% end %>
	
<% end %>


<% if @thing.codes.size > 0 %>
	<h3>Code</h3>
	<% for code in @thing.codes %>
		<div class="inline-form code-field" data-name="<%= code.name %>">
			<strong><%= code.name %></strong>
			<textarea class="form-control" rows="5"><%= code.code %></textarea>
			<button class="btn btn-primary">Save</button>
		</div>
		<br/>
	<% end %>
<% end %>

<% else %>
	<h3>Object not found!</h3>
<% end %>


<script>
	var key = '<%= @thing.external_key %>';
	$(function() {

		$('#save-description').click(function() {
			$(this).html('Saving...');
			$.ajax({
				method: "POST",
				url: "/object/" + key + "/description",
				data: { description: $('#description').val() }
				}).done(function( msg ) {
					$('#save-description').html('Save');
				});
		});

		$('.attribute-field button').click(function() {
			$(this).html('Saving...');
			var b = this;
			var name = $(this).parent().data('name');
			var value = $(this).prev().val();
			$.ajax({
				method: "POST",
				url: "/object/" + key + "/attribute/" + name,
				data: { value: value }
				}).done(function( msg ) {
					$(b).html('Save');
				});
		});

		$('.code-field button').click(function() {
			$(this).html('Saving...');
			var b = this;
			var name = $(this).parent().data('name');
			var value = $(this).prev().val();
			$.ajax({
				method: "POST",
				url: "/object/" + key + "/code/" + name,
				data: { value: value }
				}).done(function( msg ) {
					$(b).html('Save');
				});
		});

	});

</script>
